header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
}
header * {
    display: inline;
    height: 30px;
}
header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}
section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body ul {
    list-style-type: square;
    text-align: left;
}

#about {
    list-style-type: square;
    text-align: left;
    margin-left: 100;
}

.font1 {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
a {
  font-size: 1.35em;
}
h1 {
  font-size: 1.5em;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
body {
  margin: 0;
  margin-top: 50px;
  font-family: sans-serif;
}

body pre{
  text-align: left;
}

footer {
    text-align: center;
    padding: 50px;
}
